<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="false"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnSkipped="false"
         stopOnFailure="false"
         executionOrder="random"
         cacheResult="true"
>
    <testsuites>
        <testsuite name="Testes">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
